/* table - chart */	
	
	table.chart {
    	margin-bottom: 2em;
    	border-top: 1px solid #ccc;
    	border-left: 1px solid #ccc;
    	border-collapse: collapse;
    	font-size: 100%;
    	font-family: sans-serif
    	}

    table.chart th  {
    	background: #eee;
    	}

    table.chart th.caption  {
    	background: #ddd;
    	}

    table.chart th, table.chart td {
    	padding: 5px;
    	border-right: 1px solid #ccc;
    	border-bottom: 1px solid #ccc;
    	font-size: 80%;
    	font-family: sans-serif
    	}

    table.chart td {
    	vertical-align: top;
    	}	
    	
.caption, .photocaption, tfoot td {
	margin-top: 0;
	font-size:80%;
	color: #666;
	}


#content {

}

#main {
 	padding:22px 0;
}

#blog-title a {
display:block; /* We do this so we can add a background image */
text-indent:-9000px; /* Hides the text--but not from search engines */
height: 100px; /* height of your logo, like 180px */
width: 362px; /* width of your logo, like 940px */
background:url(../img/JapaneseBallPlayers_com_blog.png) no-repeat top center; /* adds in the logo image */
}

#branding {
margin:10px auto; padding:0;
}
#blog-description {
		
}

.entry-title {
	font-family: 'Bevan', arial, serif;
	text-shadow: 2px 2px 3px #DDD;
}